:root {
  --main-text-color: #324950;
  --second-text-color: #57984c;
}

.fjb {
  display: flex;
  justify-content: space-between;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.mb {
  width: 1px;
  margin-bottom: 19px;
}
.cmw {
  max-width: 1100px;
}

.image-banner {
  height: 480px;
}

.text {
  font-family: 'Roboto-Slab';

  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 25.5px;
  color: var(--main-text-color);
}
.title {
  font-family: 'Roboto-Slab';

  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  line-height: 91.33px;
}

.subtitle {
  font-family: 'Roboto-Slab';

  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 28.6px;
  color: var(--main-text-color);
}
.bold-text {
  font-weight: 700;
}
.gren-color {
  color: #57984c;
}
.main-text-color {
  color: var(--main-text-color);
}
.download-pdf-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 11px 30px;
  min-width: 225px;

  border: 2px solid var(--second-text-color);
  border-radius: 60px;

  background-color: inherit;

  font-family: 'Roboto-Slab';
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--second-text-color);
  margin: 40px 0;

  margin-left: auto;
  margin-right: 100px;
}
@media screen and (max-width: 1199px) {
  .download-pdf-btn {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 54px;
  }
}
