:root{
  --main-text-color: #324950;
  --second-text-color: #57984C;
}

.fjb{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.mb{
  width: 1px;
  margin-bottom: 19px;
}
.cmw{
  max-width: 1100px;
}

.image-banner{
  height:480px;
}
