:root{
  --main-text-color: #324950;
  --second-text-color: #57984C;
}

.fjb{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.mb{
  width: 1px;
  margin-bottom: 19px;
}
.cmw{
  max-width: 1100px;
}

.image-banner{
  height:480px;
}

.text {
  font-family: 'Roboto-Slab';

  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 25.5px;
  color: var(--main-text-color);
}

.subtitle{
  font-family: 'Roboto-Slab';

  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 28.6px;
}
.gren-color{
  color: #57984c;
}