.contact-us-bunner {
  background-image: url('../img/contact-us-banner.jpg');
}
.content {
  background-color: #f7f7f7;
  padding-top: 50px;
}
.content > .container {
  padding: 0 100px;
}
.form {
  margin-top: 40px;
  padding-bottom: 50px;
}
.left-input-group {
  max-width: 350px;
  width: 100%;
  min-width: 200px;
  margin-right: 20px;
}
.right-input-group {
  max-width: 635px;
  width: 100%;
  min-width: 200px;
}
.input {
  margin-top: 10px;
  margin-bottom: 20px;

  height: 55px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #dadada;
  outline: none;
  padding-left: 10px;
}
.textarea {
  margin-top: 10px;
  margin-bottom: 20px;

  width: 100%;
  height: 390px;
  border-radius: 10px;
  border: 1px solid #dadada;
  outline: none;
  padding: 10px;
}
.cupthca-group {
  align-items: center;
}
.input-cupthca {
  width: 225px;
}
.submit-btn {
  height: 55px;
  width: 255px;

  border-radius: 60px;
  background: #57984c;
  border-radius: 60px;
  border: none;
  color: #fff;
}
.our-adress {
  width: 100%;
  background-color: #fff;
  padding: 45px 30px;
  text-align: center;
}
.our-adress > .subtitle {
  padding: 0 20px;
  max-width: 185px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--second-text-color);
  margin-bottom: 15px;
}
.table-wrapper {
  padding: 20px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
}
.table-cart {
  width: 100%;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-image {
  width: 150px;
  height: 120px;
}
.btn-remove-item {
  width: 30px;
  height: 30px;

  border: 1px solid var(--second-text-color);
  border-radius: 5px;

  background-color: transparent;

  color: #e84a5f;

  font-size: 20px;
}
.btn-remove-item:hover {
  background-color: #ff847b;
  color: #e84a5f;
}
@media screen and (max-width: 1200px) {
  .cupthca-group {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) {
  .content > .container {
    padding: 0 70px;
  }
}
@media screen and (max-width: 800px) {
  .content > .container {
    padding: 0 60px;
  }
  .form {
    flex-wrap: wrap;
  }
  .left-input-group,
  .right-input-group {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .textarea {
    max-height: 200px;
  }
  .cupthca-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-title {
    text-align: center;
  }
  .decoration {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .cart-item {
    flex-direction: column;
  }
  .cart-item > td {
    margin: 10px auto;
  }
  .btn-remove-item {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .content > .container {
    padding: 0 30px;
  }
  .main-title {
    text-align: center;
    font-size: 35px;
  }
  .left-input-group,
  .right-input-group {
    max-width: 260px;
  }
}
