.contacts-bg {
  background-color: #2d3f45;
}
.cop-bg {
  padding-top: 13px;
  padding-bottom: 18px;
  background-color: #324950;
}
.footer-contacts {
  align-items: center;
  flex-wrap: wrap;
  padding-top: 23px;
  padding-bottom: 23px;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;

  font-family: 'Roboto';

  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22.83px;
  color: white;
}

.footer-nav-item + .footer-nav-item {
  margin-left: 35px;
}

.footer-ico-list {
  display: flex;
  justify-content: space-between;
}

.footer-ico-item + .footer-ico-item {
  margin-left: 14.4px;
}
.cop {
  display: block;
  width: max-content;
  text-transform: uppercase;

  font-family: 'Roboto';

  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 19.98px;
  color: #b9b9b9;
}
@media screen and (max-width: 992px) {
  .footer-ico-list {
    margin: 10px auto;
  }
}
@media screen and (max-width: 770px) {
  .footer-ico-item {
    margin: 10px auto;
  }

  /* .footer-nav-item + .footer-nav-item {
    margin-left: 30px;
  } */
}
