.content {
  background-color: #fcf0f0;
  padding: 50px 0;
}

.main-title {
  font-family: 'Roboto-Slab';

  font-weight: 700;
  font-style: normal;
  font-size: 44px;
  line-height: 62.8px;
  color: var(--main-text-color);

  margin-bottom: 40px;
}

.margins {
  margin-top: 40px;
  margin-bottom: 20px;
}

.text > p + p {
  margin-top: 25px;
}

.lb {
  position: relative;
  padding-left: 25px;
}
.lb::before {
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;

  width: 4px;
  height: 110%;

  background-color: #eb5757;
  border-radius: 4px;
}
.product-info-list {
  margin-top: 35px;
  margin-bottom: 45px;

  padding: 50px 20px;
  background-color: #fff;
}
.product-info-subtitle {
  padding-right: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--main-text-color);
}
.product-info-text {
  padding-top: 15px;
}
.product-cards {
  margin-top: 50px;
}
.product-card {
  position: relative;

  max-width: 350px;
  min-height: 320px;
  margin-bottom: 30px;
}

.img-wrapper {
  position: relative;
  max-width: 100%;
  min-height: 340px;
  max-height: 100%;
}
.img-product {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.product-card-content {
  z-index: 2;
  position: relative;
  margin-top:-50px;
  width: 100%;
  padding: 9px 0;

  background-color: #fff;
  text-align: center;
}
.product-card-text {
  font-family: 'Roboto-Slab';

  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22.83px;
}


@media screen and (max-width: 1073px) {
  .product-card {
    margin-left: auto;
    margin-right: auto;
  }
}
