.products {
  padding: 40px 0 41px 0;
  margin-left: 177px;
  margin-right: 177px;
}
.product {
  width: auto;
  min-width: 200px;
  padding: 0 10px;
}
.product-list {
  flex-wrap: nowrap;
}
.product-ico-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  width: auto;
  height: 60px;
}
.product-ico {
  display: block;
  object-fit: contain;
  object-position: center;
  margin-top: auto;
}
.product-description {
  margin-top: 20px;
  text-transform: capitalize !important;

  font-family: 'Roboto-Slab';

  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 29.97px;
  color: var(--main-text-color);
  text-align: center;
}
@media screen and (max-width: 1660px) {
  .product-list {
    flex-wrap: wrap;
  }
  .products {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 850px) {
  .products {
    margin: 0 120px;
  }
}
@media screen and (max-width: 768px) {
  .products {
    margin: 0 100px;
  }
}
@media screen and (max-width: 650px) {
  .products {
    margin: 0 50px;
  }
}
@media screen and (max-width: 550px) {
  .products {
    padding: 0 30px;
    margin: 0 auto;
  }
  .product {
    max-width: 400px;
    min-width: 250px;
    margin: 15px auto;
  }
}
